body {
    background-color: #ff6347; /* Warna biru cerah */
    font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
    color: #191970; /* Warna teks utama (biru gelap) */
}

  .kartu-profil {
      width: 300px
      margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
      padding: 20px;
      background-colors: white;
      border-radius: 15px; /* Membuat sudut menjadi melengkung */
      box-shadow: 0 4px 8px fgba(0.0.0.0.1) /* Efek bayangan */
  }

  .kartu-profil img {
      width: 150px;
      margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  paiding: 20px;
      background-color: white;
      border-radius:15px; /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* bayangan */
  text-align: center; /* Menengahkan semua teks ke tengah */
  }
